<form  name="purchaseForm" method="post" ng-submit="purchaseForm.$valid && addPurchase()" novalidate="">
    <table>
        <tr>
            <td>Item</td>
            <td>
                <select ng-model="purchase.offering_id" required="" name="offering_id" ng-change="setPrice(purchase.offering_id)">
                    <option value="">Select Product</option>
                    <option ng-repeat="offer in offerlist" value="{{ offer.id }}">{{offer.title}}</option>
                </select>
            </td>
            <td>
                <div ng-show="purchaseForm.$submitted
                                purchaseForm.offering_id.$touched" ng-model="purchase.offering_id" class="validationError" placeholder="Select offer.">
                    <span ng-show="purchaseForm.offering_id.$error.required" class="text-danger">Please select offer.</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Company name</td>
            <td><input type="text" name="customer_name" ng-model="purchase.customer_name" required=""></td>
            <td>
                <div ng-show="purchaseForm.$submitted
                                purchaseForm.customer_name.$touched" ng-model="purchase.customer_name" class="validationError" placeholder="Select subject.">
                    <span ng-show="purchaseForm.customer_name.$error.required" class="text-danger">Please enter customer name.</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" name="quantity" ng-model="purchase.quantity" required=""></td>
            <td>
                <div ng-show="purchaseForm.$submitted
                                purchaseForm.quantity.$touched" ng-model="purchase.quantity" class="validationError" placeholder="Select subject.">
                    <span ng-show="purchaseForm.quantity.$error.required" class="text-danger">Please enter quantity price.</span>
                </div> 
                <span>Total Price is{{ price }} </span>
            </td>
          
        
        </tr>
        <tr>
            <td><input type="reset"></td>
            <td><input type="submit" name="submit" value="Add Purchase"></td>
        </tr>
    </table> 
</form>