<div class="panel panel-primary">
    <div class="alert alert-success" ng-if="success">
        {{ success }}
    </div>
    <div class="alert alert-danger" ng-if="error">
        {{ error }}
    </div>
    <div class="panel-heading">Purchase Form</div>
    <div class="panel-body">    
        <form name="purchaseForm" method="post" ng-submit="purchaseForm.$valid && addPurchase()" novalidate="">
            <div class="form-group">
                <label>Item</label>
                <select class="form-control" ng-model="purchase.offering_id" required="" name="offering_id" ng-change="setPrice()">
                    <option value="">Select Product</option>
                    <option ng-repeat="offer in offerlist" value="{{ offer.id}}">{{offer.title}}</option>
                </select>
                <div ng-show="purchaseForm.$submitted ||
                                        purchaseForm.offering_id.$touched" ng-model="purchase.offering_id" class="validationError">
                    <span ng-show="purchaseForm.offering_id.$error.required" class="text-danger">Please select offer.</span>
                </div>
            </div>
            <div class="form-group">
                <label>Customer name</label>
                <input type="text" name="customer_name" class="form-control" ng-model="purchase.customer_name" required="">
                <div ng-show="purchaseForm.$submitted ||
                                        purchaseForm.customer_name.$touched" ng-model="purchase.customer_name" class="validationError" placeholder="Select subject.">
                    <span ng-show="purchaseForm.customer_name.$error.required" class="text-danger">Please enter customer name.</span>
                </div>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input type="text" class="form-control" name="quantity" ng-model="purchase.quantity" ng-change="setPrice()" required="">
                <div ng-show="purchaseForm.$submitted ||
                                        purchaseForm.quantity.$touched" ng-model="purchase.quantity" class="validationError" placeholder="Select subject.">
                    <span ng-show="purchaseForm.quantity.$error.required" class="text-danger">Please enter quantity.</span>
                </div> 
                <span>Total Price is {{ price}} </span>
            </div>
            <input type="reset" class="btn btn-default">
            <input type="submit" name="submit" class="btn btn-primary" value="Add Purchase">
        </form>
    </div>
</div>
