 <button>Add an Item</button>
        <div ng-controller="purchaseController as showCase">
            <table border="2" datatable="" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="row-border hover">
                <thead>
                    <tr>
                        <th>Purchase ID</th>
                        <th>Offering title</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mouse</td>
                        <td>2</td>
                        <td>200</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Keyboard</td>
                        <td>4</td>
                        <td>400</td>
                        <td>1600</td>
                    </tr>
                </tbody>
            </table>
        </div>